<div class="container">
	<h1>ABOUT US</h1>
	<div class="container center-block" style="padding-right: 200px; padding-left: 0px;">
		<strong>Festival Cerita Jakarta</strong>
		<p style="padding-top:10px">
			Festival Cerita Jakarta is a two-day literary festival for children and youth (6-18 years old) in Jakarta with aim to raise public interest of reading, writing and literary appreciation through series of workshops (fiction, non-fiction, arts & craft), panel discussion, and sharing session. 
		</p>
		<p style="padding-top:10px">
			This festival is presented by Rumah Cerita, sponsored by Australia Global Alumni and supported by Perpustakaan Nasional Republik Indonesia.
		</p>
		<strong>Rumah Cerita</strong>
		<p style="padding-top:10px">
			Rumah Cerita is a creative writing centre for children and youth that was established in 2014. We conducted creative writing workshops for fiction, non-fiction, and crafts for children (6-18 years old). Rumah Cerita was inspired by Sydney Story Factory, a creative writing centre for children and youth in Redfern, NSW, Australia. 
		</p>
		<p style="padding-top:10px">
			Rumah Cerita has created various workshop programs and initiatives, including Rumah Cerita Goes to Japan, leading the children program in the ASEAN Literary Festival, Jambore Nasional Sastra (National Jamboree of Literature), and published a book called “Inilah Bandung” (This is Bandung). 
		</p>
		<p style="padding-top:10px">
			This year, Rumah Cerita has been conducting series of workshop called “Connecting Jakarta”. Partnering with schools and communities, this program aim to connect the children all around Jakarta through stories and ideas and “Festival Cerita Jakarta” to facilitate to meet and collaborate with each other, across school and communities in Jakarta.
		</p>
		<p style="padding-top:10px">
			Through all of our program, Rumah Cerita wants to deliver our core values to all of the children and youth in Indonesia, which are:
		</p>
		<ul>
			<li>Critical Thinking</li>
			<li>Social Awareness</li>
			<li>Compassion</li>
			<li>Creativity</li>
			<li>Confidence</li>
		</ul>
	</div>
</div>