<div class="container">
	<h1>TENTANG KAMI</h1>
		<div class="container center-block" style="padding-right: 100px; padding-left: 0px;">
		<strong>Festival Cerita Jakarta</strong>
		<p style="padding-top:10px">
			Festival Cerita Jakarta adalah festival menulis dan bercerita untuk anak dan remaja (6 - 18 tahun) di Jakarta dengan tujuan untuk meningkatkan ketertarikan publik akan membaca, menulis, dan apresiasi karya literatur melalui rangkaian lokakarya (fiksi, non-fiksi, dan seni kerajinan tangan), diskusi panel, serta sesi berbagi informasi.
		</p>
		<p style="padding-top:10px">
			Festival ini dipersembahkan oleh Rumah Cerita, disponsori oleh Australia Global Alumni dan didukung oleh Perpustakaan Nasional Republik Indonesia.
		</p>
		<strong>Rumah Cerita</strong>
		<p style="padding-top:10px">
			Rumah Cerita adalah sebuah komunitas pelatihan menulis untuk anak dan remaja yang didirikan pada tahun 2014. Kami mengadakan lokakarya menulis keratif untuk fiksi, non-fiksi, dan seni kerajinan tangan untuk anak (6-18 tahun). Rumah Cerita terinspirasi dari Sydney Story Factory, sebuah pusat penulisan kreatif untuk anak di Redfern, New South Wales, Australia.
		</p>
		<p class="hidden-xs" style="padding-top:10px">
			Rumah Cerita telah menjalankan berbagai lokakarya dan inisiatif program termasuk Rumah Cerita Goes to Japan, mengkoordinir program anak dalam ASEAN Literary Festival, Jambore Nasional Sastra, dan menerbitkan sebuah buku yang berjudul "Inilah Bandung".
		</p>
		<p class="hidden-xs" style="padding-top:10px">
			Tahun ini, Rumah Cerita telah menyelenggarakan berbagai lokakarya yang dinamakan "Connecting Jakarta". Bermitra dengan sekolah dan komunitas, program ini bertujuan untuk menghubungkan anak dan remaja di seluruh Jakarta melalui cerita serta ide, dan "Festival Cerita Jakarta" kemudian dibuat untuk memfasilitasi anak-anak di seluruh Jakarta untuk dapat bertemu dan berkolaborasi dengan sesamanya, lintas sekolah dan komunitas di Jakarta.
		</p>
		<p style="padding-top:10px">
			Melalui semua program kami, Rumah Cerita ingin menyampaikan nilai-nilai inti kami kepada anak dan remaja di Indonesia, yakni:
		</p>
		<ul>
			<li>Berpikir Kritis</li>
			<li>Kepedulian Sosial</li>
			<li>Empati</li>
			<li>Kreativitas</li>
			<li>Percaya Diri</li>
		</ul>
	</div>
	<h1>ABOUT US</h1>
	<div class="container center-block " style="padding-right: 100px; padding-left: 0px;">
		<strong>Festival Cerita Jakarta</strong>
		<p style="padding-top:10px">
			Festival Cerita Jakarta is a two-day literary festival for children and youth (6-18 years old) in Jakarta with aim to raise public interest of reading, writing and literary appreciation through series of workshops (fiction, non-fiction, arts & craft), panel discussion, and sharing session. 
		</p>
		<p style="padding-top:10px">
			This festival is presented by Rumah Cerita, sponsored by Australia Global Alumni and supported by Perpustakaan Nasional Republik Indonesia.
		</p>
		<strong>Rumah Cerita</strong>
		<p style="padding-top:10px">
			Rumah Cerita is a creative writing centre for children and youth that was established in 2014. We conducted creative writing workshops for fiction, non-fiction, and crafts for children (6-18 years old). Rumah Cerita was inspired by Sydney Story Factory, a creative writing centre for children and youth in Redfern, NSW, Australia. 
		</p>
		<p class="hidden-xs" style="padding-top:10px">
			Rumah Cerita has created various workshop programs and initiatives, including Rumah Cerita Goes to Japan, leading the children program in the ASEAN Literary Festival, Jambore Nasional Sastra (National Jamboree of Literature), and published a book called “Inilah Bandung” (This is Bandung). 
		</p>
		<p class="hidden-xs" style="padding-top:10px">
			This year, Rumah Cerita has been conducting series of workshop called “Connecting Jakarta”. Partnering with schools and communities, this program aim to connect the children all around Jakarta through stories and ideas and “Festival Cerita Jakarta” to facilitate to meet and collaborate with each other, across school and communities in Jakarta.
		</p>
		<p style="padding-top:10px">
			Through all of our program, Rumah Cerita wants to deliver our core values to all of the children and youth in Indonesia, which are:
		</p>
		<ul>
			<li>Critical Thinking</li>
			<li>Social Awareness</li>
			<li>Compassion</li>
			<li>Creativity</li>
			<li>Confidence</li>
		</ul>
	</div>
</div>