{{!< default}}
<div class="container">
	<div class="row">
		<div class="col-md-12 reg">
			<div class="reg__date">16-17 Desember 2017</div>
			<div class="reg__txt" id="reg_txt" >
				<a onMouseOver="this.style.color='#180318'" 
					 onMouseOut="this.style.color='#fff'" 
					 href="#" 
					 target="_blank" id="demo">
					COUNT DOWN
				</a>
			</div>
		</div>
	</div>
</div>
<br>
<div class="top-content container">
	<div class="row">
		<div class="col-md-12">
			<div class="masonry three-column">
				<div class="masonry__column masonry__column--2">
					<div class="masonry__item">
						<a href="/writer_index/writer/richard-oh">
							<div class="image-has-text" style="background-image: url('https://res.cloudinary.com/suryast/image/upload/v1512430052/image1_ald0sp.jpg')">
								<div class="image-wrap">
									<img src="https://res.cloudinary.com/suryast/image/upload/c_crop,h_800,w_400/v1512430052/image1_ald0sp.jpg" alt="Richard Oh">
								</div>
								<div class="image-text">
									<h1>Richard Oh</h1>
								</div>
								<span class="category-label">PENGISI ACARA</span>
							</div>
						</a>
					</div>
					<!-- .masonry__item -->
					<div class="masonry__item half-width to-right full-height">
						<a href="/program/event/laboratorium-cerita-stories-laboratory" style="color:#180318">
							<div class="text-only" style="background-color: #DE5789;">
								<span class="category-label category-label--white">Lokakarya</span>
								<div class="valign-center">
									<h3>Laboratorium Cerita</h3>
								</div>
								<p class="posted-time">16 Desember 2017, 10:00 WIB</p>
							</div>
						</a>
					</div>
					<!-- .masonry__item -->
				</div>
				<!-- .masonry__column -->
				<div class="masonry__column">
					<div class="masonry__item">
						<a href="/program/event/lomba-mewarnai-coloring-competition" style="color:#180318">
							<div class="text-only" style="background-color:#9694CE;">
								<span class="category-label category-label--white">Lomba</span>
								<div class="valign-center">
									<h3>Lomba Mewarnai</h3>							
								</div>
								<p class="posted-time">16 Desember 2017, 10:00 WIB</p>
							</div>
						</a>
					</div>
					<!-- .masonry__item -->
					<div class="masonry__item">
						<a href="/writer_index/writer/nadia-silvarani" style="color:#180318">
							<div class="image-has-text" style="background-image: url('https://res.cloudinary.com/keystone-demo/image/upload/c_fit,h_450,w_750/n3oszjftttcvrow8dfug.jpg')">
								<div class="image-wrap">
									<img src="https://res.cloudinary.com/keystone-demo/image/upload/c_crop,h_400,w_200/n3oszjftttcvrow8dfug.jpg" alt="Nadia Silvarani">
								</div>
								<div class="image-text">
									<h2>Nadia Silvarani</h2>
								</div>
								<span class="category-label">PENGISI ACARA</span>
							</div>
						</a>
					</div>
					<!-- .masonry__item -->
				</div>
				<!-- .masonry__column -->
				<div class="masonry__column">
					<div class="masonry__item">
						<a href="/writer_index/writer/nirwan-ahmad-arsuka" style="color:#180318">
							<div class="image-has-text" style="background-image: url(https://res.cloudinary.com/keystone-demo/image/upload/c_fit,h_450,w_750/qibnbvwsvvualnmiryxg.jpg)">
								<div class="image-wrap">
									<img src="https://res.cloudinary.com/keystone-demo/image/upload/c_crop,h_400,w_200/qibnbvwsvvualnmiryxg.jpg" alt="Nirwan Ahmad Arsuka">
								</div>
								<div class="image-text">
									<h2>Nirwan Ahmad Arsuka</h2>
								</div>
								<span class="category-label">PENGISI ACARA</span>
							</div>
						</a>
					</div>
					<!-- .masonry__item -->
					<div class="masonry__item">
						<a href="/program/event/rasakan-musik-feel-the-music" style="color:#180318">
							<div class="text-only" style="background-color: #BB88AA;">
								<span class="category-label category-label--white">Lokakarya</span>
								<div class="valign-center">
									<h3>Rasakan Musik</h3>
								</div>
								<p class="posted-time">16 Desember 2017, 13:00 WIB</p>
							</div>
						</a>
					</div>
					<!-- .masonry__item -->
				</div>
				<!-- .masonry__column -->
			</div>
			<!-- masonry -->
			<div class="masonry three-column">
				<div class="masonry__column">
					<div class="masonry__item">
						<a href="/writer_index/writer/waktu-jeda" style="color:#180318">
							<div class="image-has-text" style="background-image: url(https://res.cloudinary.com/suryast/image/upload/v1505654097/Crop_y43y1t.jpg)">
								<div class="image-wrap">
									<img src="https://res.cloudinary.com/suryast/image/upload/c_crop,h_400,w_200/v1505654097/Crop_y43y1t.jpg" alt="Waktu Jeda">
								</div>
								<div class="image-text">
									<h2>Waktu Jeda</h2>
								</div>
								<span class="category-label">PENGISI ACARA</span>
							</div>
						</a>
					</div>
					<!-- .masonry__item -->
				</div>
				<!-- .masonry__column -->
				<div class="masonry__column">
					<div class="masonry__item">
						<a href="/program/event/surat-mimpiku-letter-of-my-dream" style="color:#180318">
							<div class="text-only" style="background-color:#A38AB3;">
								<span class="category-label category-label--white">Lokakarya</span>
								<div class="valign-center">
									<h3>Surat Mimpiku</h3>
								</div>
								<p class="posted-time">16 Desember 2017, 15:30 WIB</p>
							</div>
						</a>
					</div>
					<!-- .masonry__item -->
					<div class="masonry__item">
						<a href="/writer_index/writer/maudy-koesnaedi" style="color:#180318">
							<div class="image-has-text" style="background-image: url(https://res.cloudinary.com/keystone-demo/image/upload/c_fit,h_450,w_750/dbqchdtrueuldiibaz7e.jpg)">
								<div class="image-wrap">
									<img src="https://res.cloudinary.com/keystone-demo/image/upload/c_crop,h_400,w_200/dbqchdtrueuldiibaz7e.jpg" alt="Maudy Koesnaedi">
								</div>
								<div class="image-text">
									<h2>Maudy Koesnaedi</h2>
								</div>
								<span class="category-label">PENGISI ACARA</span>
							</div>
						</a>
					</div>
					<!-- .masonry__item -->
				</div>
				<!-- .masonry__column -->
				<div class="masonry__column masonry__column--2">
					<div class="masonry__item">
						<a href="/writer_index/writer/sasina-universitas-indonesia" style="color:#180318">
							<div class="image-has-text" style="background-image: url(https://res.cloudinary.com/keystone-demo/image/upload/c_fit,h_450/nxurmsxejjducl4uysbb.jpg)">
								<div class="image-wrap">
									<img src="https://res.cloudinary.com/keystone-demo/image/upload/c_crop,h_400,w_400/nxurmsxejjducl4uysbb.jpg" alt="Sasina UI">
								</div>
								<div class="image-text">
									<h1>Sasina UI</h1>
								</div>
								<span class="category-label">PENGISI ACARA</span>
							</div>
						</a>
					</div>
					<!-- .masonry__item -->
					<div class="masonry__item full-height">
						<a href="/program/event/dongeng-petualangan-di-awan-storytelling-adventure-in-the-clouds" style="color:#180318">
							<div class="text-only" style="background-color: #B87CC2;">
								<span class="category-label category-label--white">Lokakarya</span>
								<div class="valign-center">
									<h3>Dongeng Petualangan di Awan</h3>
								</div>
								<p class="posted-time">16 Desember 2017, 10:00 WIB</p>
							</div>
						</a>
					</div>
					<!-- .masonry__item -->
				</div>
				<!-- .masonry__column -->
			</div>
		</div>
	</div>
</div>
<br>

<!-- Display the countdown timer in an element -->
<script>
// Set the date we're counting down to
var countDownDate = new Date("Dec 16 , 2017 14:00:00").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

  // Get todays date and time
  var now = new Date().getTime();

  // Find the distance between now an the count down date
  var distance = countDownDate - now;

  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // Display the result in the element with id="demo"
  document.getElementById("demo").innerHTML = "COUNT DOWN: " + hours + "h "
  + minutes + "m " + seconds + "s ";

  // If the count down is finished, write some text 
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("demo").innerHTML = "TODAY";
    $('#reg_txt').addClass('blink_me');
  }
}, 1000);
</script>
<br>
{{>program_partial}}
<br>
{{>blog_partial}}
<br>
