{{!< default}}
<!-- <div class="jumbotron" style="background:url('http://res.cloudinary.com/keystone-demo/image/upload/gg8laqikcuqqbbat9oyb')">
	<h1 style="font-family: sans-serif; text-align: center; color:#FFDA51">Festival Cerita Jakarta</h1>
	<div><p>test</p></div>
	<div><h1 style="font-family: sans-serif; text-align: center; color:#FFDA51">16-17 December 2017</h1></div>
	<div><p>test</p></div>
</div> -->

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="masonry">
				<div class="masonry__column masonry__column--2">
					<div class="masonry__item">
						<a href="#">
							<div class="image-has-text" style="background-image: url('http://placecage.com/400/400')">
								<div class="image-wrap">
									<img src="http://placecage.com/400/400" alt="">
								</div>
								<div class="image-text">
									<h1>Do you think career and family is either-or?</h1>
									<p class="posted-time">26 May 2017</p>
								</div>
								<span class="category-label">Author Talk</span>
							</div>
						</a>
					</div>
					<!-- .masonry__item -->

					<div class="masonry__item half-width to-right full-height">
						<a href="#">
							<div class="text-only" style="background-color: PaleTurquoise;">
								<span class="category-label category-label--black">Author Talk</span>
								<div class="valign-center">
									<h4>Do you think career and family is either-or?</h4>
								</div>
								<p class="posted-time">26 May 2017</p>
							</div>
						</a>
					</div>
					<!-- .masonry__item -->
				</div>
				<!-- .masonry__column -->

				<div class="masonry__column">
					<div class="masonry__item">
						<a href="#">
							<div class="text-only">
								<span class="category-label category-label--black">Author Talk</span>
								<div class="valign-center">
									<h4>Do you think career and family is either-or?</h4>									
								</div>
								<p class="posted-time">26 May 2017</p>
							</div>
						</a>
					</div>
					<!-- .masonry__item -->

					<div class="masonry__item">
						<a href="#">
							<div class="image-has-text" style="background-image: url('http://placecage.com/200/400')">
								<div class="image-wrap">
									<img src="http://placecage.com/200/400" alt="">
								</div>
								<div class="image-text">
									<h4>Do you think career and family is either-or?</h4>
									<p class="posted-time">26 May 2017</p>
								</div>
								<span class="category-label">Author Talk</span>
							</div>
						</a>
					</div>
					<!-- .masonry__item -->
				</div>
				<!-- .masonry__column -->

				<div class="masonry__column">
					<div class="masonry__item">
						<a href="#">
							<div class="image-has-text" style="background-image: url('http://placecage.com/c/200/400')">
								<div class="image-wrap">
									<img src="http://placecage.com/c/200/400" alt="">
								</div>
								<div class="image-text">
									<h4>Do you think career and family is either-or?</h4>
									<p class="posted-time">26 May 2017</p>
								</div>
								<span class="category-label">Author Talk</span>
							</div>
						</a>
					</div>
					<!-- .masonry__item -->

					<div class="masonry__item">
						<a href="#">
							<div class="text-only" style="background-color: Lavender;">
								<span class="category-label category-label--black">Author Talk</span>
								<div class="valign-center">
									<h4>Do you think career and family is either-or?</h4>
								</div>
								<p class="posted-time">26 May 2017</p>
							</div>
						</a>
					</div>
					<!-- .masonry__item -->
				</div>
				<!-- .masonry__column -->
			</div>
			<!-- masonry -->

			<div class="masonry">
				<div class="masonry__column">
					<div class="masonry__item">
						<a href="#">
							<div class="image-has-text" style="background-image: url('http://placecage.com/gif/200/400')">
								<div class="image-wrap">
									<img src="http://placecage.com/gif/200/400" alt="">
								</div>
								<div class="image-text">
									<h4>Do you think career and family is either-or?</h4>
									<p class="posted-time">26 May 2017</p>
								</div>
								<span class="category-label">Author Talk</span>
							</div>
						</a>
					</div>
					<!-- .masonry__item -->
				</div>
				<!-- .masonry__column -->

				<div class="masonry__column">
					<div class="masonry__item">
						<a href="#">
							<div class="text-only">
								<span class="category-label category-label--black">Author Talk</span>
								<div class="valign-center">
									<h4>Do you think career and family is either-or?</h4>
								</div>
								<p class="posted-time">26 May 2017</p>
							</div>
						</a>
					</div>
					<!-- .masonry__item -->

					<div class="masonry__item">
						<a href="#">
							<div class="image-has-text" style="background-image: url('http://placecage.com/g/200/400')">
								<div class="image-wrap">
									<img src="http://placecage.com/g/200/400" alt="">
								</div>
								<div class="image-text">
									<h4>Do you think career and family is either-or?</h4>
									<p class="posted-time">26 May 2017</p>
								</div>
								<span class="category-label">Author Talk</span>
							</div>
						</a>
					</div>
					<!-- .masonry__item -->
				</div>
				<!-- .masonry__column -->
				
				<div class="masonry__column masonry__column--2">
					<div class="masonry__item">
						<a href="#">
							<div class="image-has-text" style="background-image: url('http://placecage.com/g/400/400')">
								<div class="image-wrap">
									<img src="http://placecage.com/g/400/400" alt="">
								</div>
								<div class="image-text">
									<h1>Do you think career and family is either-or?</h1>
									<p class="posted-time">26 May 2017</p>
								</div>
								<span class="category-label">Author Talk</span>
							</div>
						</a>
					</div>
					<!-- .masonry__item -->

					<div class="masonry__item full-height">
						<a href="#">
							<div class="text-only" style="background-color: PaleTurquoise;">
								<span class="category-label category-label--black">Author Talk</span>
								<div class="valign-center">
									<h4>Do you think career and family is either-or?</h4>
								</div>
								<p class="posted-time">26 May 2017</p>
							</div>
						</a>
					</div>
					<!-- .masonry__item -->
				</div>
				<!-- .masonry__column -->

			</div>
		</div>
	</div>
</div>
{{>program_partial}}
{{>blog_partial}}
