{{!< default}}
<div class="container">
	<!-- LEFT COLUMN -->
	<div class="col-xs-12 col-sm-4 col-lg-6">
		<div class="col-xs-12">
			<p>LEFT 1</p>
		</div>
		<div class="col-xs-12 col-lg-6 col-lg-offset-6 pink">
			<p>LEFT 2</p>
		</div>
	</div>
	<!-- END LEFT COLUMN -->
	<!-- RIGHT COLUMN -->
	<div class="col-xs-12 col-sm-8 col-lg-6">
		<!-- Subcolumn 1 -->
		<div class="col-xs-12 col-sm-6 orange">
			<p>RIGHT 1</p>
		</div>
		<!-- End Subcolumn 1 -->
		<!-- Subcolumn 1 -->
		<div class="col-xs-12 col-sm-6 yellow">
			<p>RIGHT 2</p>
		</div>
		<!-- End Subcolumn 1 -->
	</div>
	<!-- END RIGHT COLUMN -->
</div>
<div class="container">
	<!-- LEFT COLUMN -->
	<div class="col-xs-12 col-sm-8 col-lg-6">
		<!-- Subcolumn 1 -->
		<div class="col-xs-12 col-sm-6 orange">
			<p>LEFT 1</p>
		</div>
		<!-- End Subcolumn 1 -->
		<!-- Subcolumn 1 -->
		<div class="col-xs-12 col-sm-6 yellow">
			<p>LEFT 2</p>
		</div>
		<!-- End Subcolumn 1 -->
	</div>
	<!-- END LEFT COLUMN -->
	<!-- RIGHT COLUMN -->
	<div class="col-xs-12 col-sm-4 col-lg-6">
		<div class="col-xs-12">
			<p>RIGHT 1</p>
		</div>
		<div class="col-xs-12 col-lg-6 col-lg-offset-6 pink">
			<p>RIGHT 2</p>
		</div>
	</div>
	<!-- END RIGHT COLUMN -->
</div>
