<div class="container">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
			<article>
				<p><a href="/writer_index">&larr; back to the index</a></p>
				<hr>
				<header>
					<h1>{{data.writer.title}}</h1>
					<h5>
						{{{categoryList data.writer.state prefix="Active Volunteers: "}}}
					</h5>
				</header>
				<div class="writer">
					{{#if data.writer.image}}<img src="{{{cloudinaryUrl data.writer.image width=750 height=450 crop='fit' }}}" class="img-responsive">{{/if}}
					{{{data.writer.content.extended}}}
				</div>
			</article>
		</div>
	</div>
</div>
