body{
	overflow-x: hidden;
}

#header {
	margin-top: 30px;
}

#body {
	margin: 0px;
}

#footer {
	border-top: 1px solid #eeeeee;
	padding-top: 30px;
	color: #777777;
}

.gallery-image img{
    display: block;
    max-width: 100%;
    height: auto;
}

.orange {
	background-color: lighten($brand-warning, 30%);
}

.yellow {
	background-color: lighten($brand-danger, 30%);
}

.pink {
	background-color: lighten($brand-primary, 30%);
}

.top-content{
	@media screen and (max-width: 667px){
		margin-bottom: 25px;
	}
}

.container-flex{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.masonry{
	display: flex;
  	flex-direction: row;
  	@media screen and (max-width: 667px){
		flex-wrap: wrap;
	}
	&.three-column{
		.masonry__column{
			@media screen and (min-width: 668px) and (max-width: 1023px){
				flex-basis: calc(100%/3);
				max-width: calc(100%/3);
			}
		}
		.half-width > *{
			@media screen and (min-width: 668px) and (max-width: 1023px){
				flex-basis: 100%;
  				max-width: 100%;
			}
		}
	}
  	&__column{
  		display: flex;
  		flex: 1;
  		flex-direction: column;
  		flex-grow: 1;
  		flex-basis: 25%;
  		max-width: 25%;
  		@media screen and (max-width: 667px){
			flex-basis: 100%;
			max-width: 100%;
		}
  		&--2{
  			flex-grow: 2;
  			flex-basis: 50%;
  			max-width: 50%;
  			@media screen and (max-width: 667px){
  				flex-basis: 100%;
  				max-width: 100%;
  			}
  		}
  		&--3{
  			flex-grow: 3;
  			flex-basis: 75%;
  			max-width: 75%;
  			@media screen and (max-width: 667px){
  				flex-basis: 100%;
  				max-width: 100%;
  			}
  		}
  	}
  	&__item{
  		display: flex;
  		//flex-wrap: wrap;
  		//flex-grow: 1;
  		&.half-width{
  			> *{
				flex-basis: 50%;
  				max-width: 50%;
  				@media screen and (max-width: 667px){
	  				flex-basis: 100%;
	  				max-width: 100%;
	  			}
  			}
  		}
  		&.full-height{
  			> *{
				height: 100%;
  			}
  		}
  		&.to-right{
  			justify-content: flex-end;
  		}
  		> *{
  			max-width: 100%;
  			flex-grow: 1;
  		}
  	}
}

.image-has-text{
	position: relative;
	flex-grow: 1;
	height: 100%;
	width: 100%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	transition: 600ms;
	&:hover{
		background-size: 105% 105%;
		&:before{
			background: rgba(black, 0.55);
		}
		.image-text,
		.category-label{
			opacity: 1;
		}
	}
	&:before{
		content:"";
		display: block;
		position: absolute;
		background: rgba(black, 0.25);
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		transition: 600ms;
	}
}
.image-text{
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 20px;
	opacity: 0.85;
	transition: 600ms;
	h1{
		margin-bottom: 20px;
	}
	> *{
		color: white;
	}
}
.image-wrap{
	flex-grow: 1;
	height: 100%;
	width: 100%;
	img{
		height: 100%;
		max-width: 100%;
		width: auto;
		visibility: hidden;
	}
}
.category-label{
	position: absolute;
	top: 20px;
	left: 20px;
	text-transform: uppercase;
	background-color: #DE5789;
  color: #732D47;
	border: 2px solid #DE5789;
	font-size: 12px;
	padding: 5px 10px;
	opacity: 1;
	transition: 600ms;
	&--black{

	}
  &--blue{
    border: 2px solid #fff;
    color: #fff;
    background-color: transparent;
    opacity: 1;
  }
}

.posted-time{
	font-size: 13px;
}
.text-only{
	position: relative;
	padding: 20px;
	background: beige;
	min-height: 200px;
	.posted-time{
		position: absolute;
		bottom: 15px;
		left: 20px;
	}
}
.valign-center{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 10%; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 10px;
    background-color: #fff; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 105px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav-right {
    height: 100%; /* 100% Full-height */
    width: 10%; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #fff; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 105px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
