body{
	overflow-x: hidden;
}

.globalWrapper{
	max-width: 1060px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	@media (min-width: 1300px){
		max-width: 1360px;
	}
}

.fixedWrapper{
	position: absolute;
	top: 20px;
	z-index: 9999;
	&--left{
		left: 0;
		@media screen and (max-width: 667px){
			top: 10px;
			img{
				width: 100px;
			}
		}
		@media screen and (min-width: 768px) and (max-width: 1023px){
		    top: -30px;
		    z-index: 9999;
		    left: 50%;
		    transform: translateX(-50%);
		    .sidenavigation{
		    	position: initial;
		    	height: auto;
		    	img{
		    		width: 75px;
		    	}
		    }
		}
		@media screen and (min-width: 1366px){
			left: -1%;
		}
	}
	&--right{
		right: 100px;
		top: auto;
		@media screen and (max-width: 667px){
			position: initial;
		}
		.sidenavigation{
			height: 100vh;
			@media screen and (max-width: 667px){
				height: auto;
			}
		}
	}
}

.sidenavigation{
	position: fixed;
	height: calc(100vh - 20px);
	@media screen and (max-width: 667px){
		position: initial;
		height: auto;
	}
	&__social{
		padding: 0;
		margin: 0;
		list-style: none;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		@media screen and (max-width: 667px){
			position: initial;
			transform: translateY(0);
		}
		li{
			margin-bottom: 20px;
			&:last-child{
				margin-bottom: 0;
			}
			img{
				width: 24px;
			}
			a{
				transition: 500ms;
				opacity: 0.5;
				display: block;
				padding: 3px;
				border-radius: 3px;
				&:hover{
					opacity: 0.9;
					background: rgba(#9694CE, 0.5);
					box-shadow: 0 3px 20px rgba(black, 0.1);
				}
			}
		}
	}
	&__by{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		background: white;
		box-shadow: 0 5px 25px rgba(black, 0.05);
		padding: 15px;
		width: 130px;
		img{
			max-width: 100%;
		}
	}
}



#header {
	@media screen and (min-width: 768px) and (max-width: 1023px){
		margin-top: 30px;
	}
	> .container{
		padding-top: 30px;
		background-image: url('http://res.cloudinary.com/suryast/image/upload/c_scale,w_1024/v1505790822/big-banner_mbkvsy.jpg');
		background-repeat: no-repeat;
		background-size: 100%;
		height: 510px;
		position: relative;
		max-width: 940px;
		@media screen and (max-width: 667px){
			background-image: none;
			height: auto;
		}
		@media screen and (min-width: 768px) and (max-width: 1023px){
			height: 425px;
		}
		@media (min-width: 1300px){
		    max-width: 1270px;
		    background-image: url('http://res.cloudinary.com/suryast/image/upload/c_scale,w_1270/v1505790822/big-banner_mbkvsy.jpg');
		    height: 689px;
		}
		img{
			max-width: 100%;
		}
	}
	margin-bottom: 30px;
	a{
		color: white;
		letter-spacing: 0.05em;
		@media screen and (min-width: 768px) and (max-width: 1023px){
			padding: 10px;
		}
	}

	.navbar{
		@media screen and (max-width: 667px){
			position: absolute;
			top: 0;
			width: 100%;
			left: 0;
		}
		&-header{
			@media screen and (max-width: 667px){
				position: absolute;
			    top: 30px;
			    z-index: 999;
			    right: 20px;
			}
		}
		&-right{
			@media screen and (min-width: 768px) and (max-width: 1023px){
				font-size: 13px;
			}
		}
	}
	.navbar-default .navbar-toggle{
		background: white;
	}
	.navbar-default .navbar-collapse{
		@media screen and (max-width: 667px){
			position: absolute;
    		top: 75px;
    		z-index: 999;
    		width: 100%;
    		left: 15px;
    		background: rgba(137, 0, 66, 0.75);
    		text-align: center;
		}
	}
}

.reg{
	text-align: center;
	margin-bottom: 15px;
	> div{
		display: inline-block;
	}
	&__date{
		font-family: 'Pacifico', cursive; 
		color: #C900BD;
		font-size:150%
	}
	&__txt{
		background: #C900BD;
		color: white;
		padding: 4px 14px;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		margin-left: 5px;
	}
}

.logo-fcj{
	position: fixed
}

#body {
	margin: 0px;
}

#footer {
	border-top: 1px solid #eeeeee;
	padding-top: 30px;
	color: #777777;
}

.gallery-image img{
    display: block;
    max-width: 100%;
    height: auto;
}

.orange {
	background-color: lighten($brand-warning, 30%);
}

.yellow {
	background-color: lighten($brand-danger, 30%);
}

.pink {
	background-color: lighten($brand-primary, 30%);
}

.top-content{
	@media screen and (max-width: 667px){
		margin-bottom: 25px;
	}
}

.container-flex{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.masonry{
	display: flex;
  	flex-direction: row;
  	@media screen and (max-width: 667px){
		flex-wrap: wrap;
	}
	&.three-column{
		.masonry__column{
			@media screen and (min-width: 668px) and (max-width: 1023px){
				flex-basis: calc(100%/3);
				max-width: calc(100%/3);
			}
		}
		.half-width > *{
			@media screen and (min-width: 668px) and (max-width: 1023px){
				flex-basis: 100%;
  				max-width: 100%;
			}
		}
	}
  	&__column{
  		display: flex;
  		flex: 1;
  		flex-direction: column;
  		flex-grow: 1;
  		flex-basis: 25%;
  		max-width: 25%;
  		@media screen and (max-width: 667px){
			flex-basis: 100%;
			max-width: 100%;
		}
  		&--2{
  			flex-grow: 2;
  			flex-basis: 50%;
  			max-width: 50%;
  			@media screen and (max-width: 667px){
  				flex-basis: 100%;
  				max-width: 100%;
  			}
  		}
  		&--3{
  			flex-grow: 3;
  			flex-basis: 75%;
  			max-width: 75%;
  			@media screen and (max-width: 667px){
  				flex-basis: 100%;
  				max-width: 100%;
  			}
  		}
  	}
  	&__item{
  		display: flex;
  		//flex-wrap: wrap;
  		//flex-grow: 1;
  		&.half-width{
  			> *{
				flex-basis: 50%;
  				max-width: 50%;
  				@media screen and (max-width: 667px){
	  				flex-basis: 100%;
	  				max-width: 100%;
	  			}
  			}
  		}
  		&.full-height{
  			> *{
				height: 100%;
  			}
  		}
  		&.to-right{
  			justify-content: flex-end;
  		}
  		> *{
  			max-width: 100%;
  			flex-grow: 1;
  		}
  	}
}

.image-has-text{
	position: relative;
	flex-grow: 1;
	height: 100%;
	width: 100%;
  object-fit: contain;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	transition: 600ms;
	&:hover{
		background-size: 105% 105%;
		&:before{
			background: rgba(black, 0.55);
		}
		.image-text,
		.category-label{
			opacity: 1;
		}
	}
	&:before{
		content:"";
		display: block;
		position: absolute;
		background: rgba(black, 0.25);
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		transition: 600ms;
	}
}
.image-text{
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 20px;
	opacity: 0.85;
	transition: 600ms;
	h1{
		margin-bottom: 20px;
	}
	> *{
		color: white;
	}
}
.image-wrap{
	flex-grow: 1;
	height: 100%;
	width: 100%;
	img{
		height: 100%;
		max-width: 100%;
		width: auto;
		visibility: hidden;
	}
}
.category-label{
	position: absolute;
	top: 20px;
	left: 20px;
	text-transform: uppercase;
	background-color: #DE5789;
  color: #180318;
	border: 2px solid #DE5789;
	font-size: 12px;
	padding: 5px 10px;
	opacity: 1;
	transition: 600ms;
	&--black{

	}
  &--white{
    border: 2px solid #fff;
    color: #fff;
    background-color: transparent;
    opacity: 1;
  }
  &--blue{
    border: 2px solid #4087BC;
    background-color: #4087BC;
    opacity: 1;
    padding: 2px;
    font-size: 12px;
    letter-spacing: 0.05em;
  }
}


.posted-time{
	font-size: 13px;
}
.text-only{
	position: relative;
	padding: 20px;
	background: beige;
	min-height: 200px;
	.posted-time{
		position: absolute;
		bottom: 15px;
		left: 20px;
	}
}
.valign-center{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 10%; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 10px;
    background-color: #fff; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 105px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav-right {
    height: 100%; /* 100% Full-height */
    width: 10%; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #fff; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 105px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {  
  50% { opacity: 0; }
}

.global-sidebar {
    display: block;
    width: 100px;
    height: 150vh;
    float: left;
    position: fixed;
    top: 0;
    left: 3%;
    z-index: 9999;
}

/* Need to override this hidden-xx from bootstrap, sorry. */

@media (max-width: 1279px) and (min-width: 992px){
	.hidden-md {
	    display: none !important;
	}
}
@media (min-width: 1280px){
	.hidden-md {
	    display: block !important;
	}
	.hidden-lg{
		display: none !important;
	}
}
