#header {
	margin-top: 30px;
}

#body {
	margin: 0px;
}

#footer {
	border-top: 1px solid #eeeeee;
	padding-top: 30px;
	color: #777777;
}

.gallery-image img{
    display: block;
    max-width: 100%;
    height: auto;
}

.orange {
	background-color: lighten($brand-warning, 30%);
}

.yellow {
	background-color: lighten($brand-danger, 30%);
}

.pink {
	background-color: lighten($brand-primary, 30%);
}
