/*Just the background stuff */

/* The card */
.card-new {
	position: relative;
	height: 480px;
	width: 100%;
	margin: 60px auto;
	background-color: #FFF;
	-webkit-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
}

/* Image on the left side */
.card-thumbnail {
	float: left;
	position: relative;
	left: 30px;
	top: -30px;
	height: 320px;
	width: 530px;	
	-webkit-box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);

}

/*object-fit: cover; */
/*object-position: center; */
img.card-left {
	position: absolute;
	left: 50%;
	top: 50%;
	height: auto;
	width: 100%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

/* Right side of the card */
.card-right {
	margin-left: 590px;
	margin-right: 20px;
}

h1.card-style {
	padding-top: 15px;
	font-size: 1.3rem;
	color: #4B4B4B;
}

.card-author {
	background-color: #9ECAFF;
	height: 30px;
	width: 150px;
	border-radius: 20px;
}

.card-author > img {
	padding-top: 5px;
	margin-left: 10px;
	float: left;
	height: 20px;
	width: 20px;
	border-radius: 50%;
}

h2.card-style {
	padding-top: 8px;
	margin-right: 6px;
	text-align: right;
	font-size: 1rem;
}

.separator {
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid #C3C3C3;
}

p.card-style {
	text-align: justify;
	padding-top: 10px;
	font-size: 14.5px;
	line-height: 150%;
	color: #4B4B4B;
}

/* DATE of release */
h5.card-style {
	position: absolute;
	left: 30px;
	bottom: -120px;
	font-size: 6rem;
	color: #C3C3C3;
}

h6.card-style {
	position: absolute;
	left: 30px;
	bottom: -55px;
	font-size: 2rem;
	color: #C3C3C3;
}

/* Those futur buttons */
ul.card-style {
	margin-left: 250px;
}

li.card-style {
	display: inline;
	list-style: none;
	padding-right: 40px;
	color: #7B7B7B;
}

/* Floating action button */
.fab {
	position: absolute;
	right: 50px;
	bottom: -40px;
	box-sizing: border-box;
	padding-top: 18px;
	background-color: #c6306e;
	width: 80px;
	height: 80px;
	color: white;
	text-align: center;
	border-radius: 50%;
	-webkit-box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.75);
}

@media screen and (max-width: 767px){
	.card-new{
		height: auto;
		margin: 0 auto 60px;
	}
	.card-thumbnail{
		float: none;
		position: initial;
		height: auto;
		width: 100%;
	}
	img.card-left{
		position: initial;
		transform: none;
	}
	h5.card-style{
		position: initial;
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 30px;
		margin-bottom: 0;
		font-size: 2rem;
	}
	.card-style h3{
		margin-top: 0;
		margin-bottom: 20px;
	}
	.fab{
		width: 50px;
		height: 50px;
		padding-top: 16px;
		right: 20px;
    	bottom: -20px;
	}
	.fab i{
		font-size: 1.5em;
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px){
	.card-style{
		display: none;
	}
	.card-right{
		position: absolute;
    	top: 50px;
	    width: 50%;
	    right: 20px;
	    background: rgba(255, 255, 255, 0.8);
	    padding: 20px;
	    margin: 0;
	}
	.acara .card-right h3{
		margin: 0;
	}
	.fab{
		width: 60px;
		height: 60px;
		padding-top: 20px;
		right: 20px;
    	bottom: -20px;
	}
	.fab i{
		font-size: 1.5em;
	}
}
